<div class="row">

  <div class="col-12 col-md-3">
    <img [src]="col.photoUrl">
  </div>

  <div class="col-12 col-md-9">

    <ul>
      <li>Matricule : {{col.matricule}}</li>
      <li>Nom : {{col.nom | uppercase}}</li>
      <li>Prenoms : {{col.prenoms}}</li>
      <li>Date de naissance : {{col.dateDeNaissance | date:'dd/MM/yyyy'}}</li>
      <li *ngIf="!modeEdition; else emailInput">Email : {{col.email}}</li>
      <ng-template #emailInput>
        <li>Email : <input type="text" [value]="" #saisie (change)="emailChange(saisie.value)"></li>
        <li>Photo URL : <input type="url" [value]="" #saisie (change)="photoChange(saisie.value)"></li>
      </ng-template>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col offset-md-3">
    <button class="btn btn-link" [hidden]="modeEdition" (click)="creerCollegue()">Créer un nouveau collègue</button>
    <button class="btn btn-primary" [hidden]="modeEdition" (click)="modifierCollegue()">Modifier</button>
    <button class="btn btn-primary" [hidden]="!modeEdition" (click)="validerLEdition()">Valider</button>
  </div>
</div>
